.container {
  display: flex;
  }
  
 .black-box{
     margin-top: 10%;
     margin-left: 3%;
 }

 .cyan{
     /* margin-left: 5%; */
     color: cyan;
 }

 .btn{
    background-color: aqua;
     border-radius: 5%; 
     height: 10%;
      width: 26%;
 }
 /* 1079 */

 @media only screen and (max-width: 1024px) {
     .a{
         display: none;
     }
     /* hr{
         display: none;
     }*/
 } 